@import "tailwindcss";

html,
body {
    height: 100%;
}
.page2{
    height: 60%;
    width: 100%;
}

.page2 h3 {
    font-family: "Poppins", sans-serif;
}
.features{
    height: 100vh;
    width: 100%;
}

.page3 h1 {
    font-family: "Poppins", sans-serif;
}
.page3 button {
    font-family: "Poppins", sans-serif;
}